h1, h2, h3 {
    font-family: Montserrat, sans-serif;
}

header {
    margin-top: 50px;
}

header > h1 {
    text-align: center;
}

h2 {
    color: rgb(153, 153, 153);
    text-decoration: underline;
}

p, li {
    font-family: 'Libre Baskerville', serif;
}

#matte-black {
    background-color: #171717;
}

#grass-green {
    background-color: #46c427;
}

#fire-red {
    background-color: #E25822;
}

#robot-blue {
    background-color: #1E5D88;
}

main {
    display: grid;
    grid-template-areas:
        'colors fonts'
        'colors text-styles';
    width: 675px;
    margin: 0 auto;
}

#colors {
    grid-area: colors;
}

#fonts {
    grid-area: fonts;
}

#text-styles {
    grid-area: text-styles;
}

.color {
    height: auto;
    display: grid;
    grid-template-areas: 'color name hex';
    margin-top: 20px;
}

.color:first-child {
    margin-top: 0;
}

.color > div {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    grid-area: color;
}

.color > h3 {
    width: 125px;
    height: 22px;
    margin: auto auto;
}

.color > h3:first-child {
    grid-area: name;
}

.color > h3:last-child {
    grid-area: hex;
    text-align: center;
    color: lightgray;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

#montserrat > p {
    font-family: Montserrat;
}